@charset "UTF-8";
html {
  font-size: 2.6666666667vw;
  line-height: 1.2;
  scroll-behavior: smooth;
}
@media (min-width: 560px) {
  html {
    line-height: 1.2;
    font-size: 1vw;
  }
}
@media (min-width: 960px) {
  html {
    font-size: 0.5208333333vw;
  }
}

*,
*::before,
*::after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  font-size: 1.6rem;
  font-family: "M PLUS 1p", sans-serif;
  color: #707070;
  min-width: 320px;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

.l-header {
  background-color: #fff7ef;
  grid-column: 1;
  grid-row: 1;
  position: relative;
}
@media (min-width: 960px) {
  .l-header {
    grid-row: 1;
    grid-column: 1;
  }
}

.l-main {
  height: auto;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
}
@media (min-width: 960px) {
  .l-main {
    display: grid;
    grid-template-rows: 1fr 150px;
    grid-template-columns: 80% 20%;
  }
}
.l-main__left {
  height: auto;
}
.l-main__left.fixed {
  position: fixed;
  width: 100%;
  height: 100vh;
}
.l-main__right {
  height: auto;
}

.l-sidebar {
  width: 87.5%;
  height: 100vh;
  background-color: #f2ede9;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  transform: translate(100%);
  transition: all 1s; /* 移動する速さ */
  overflow-y: scroll;
}
@media (min-width: 560px) {
  .l-sidebar {
    width: 44%;
  }
}
@media (min-width: 960px) {
  .l-sidebar {
    width: 20%;
    height: auto;
    transform: translate(0);
    z-index: 0;
  }
}
.l-sidebar.open {
  transform: translate(0); /* right0まで-250px移動 */
}
.l-sidebar__menu {
  margin-bottom: 40px;
}
.l-sidebar__menu dt {
  font-size: 2.4rem;
  margin-bottom: 40px;
}
.l-sidebar__lists {
  margin-left: 20px;
}
.l-sidebar__lists li {
  margin-bottom: 23px;
  font-size: 2rem;
  line-height: 1.45;
}
.l-sidebar__lists li:last-child {
  margin-bottom: 0;
}
.l-sidebar__bg {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: all 0.1s;
}

.l-footer {
  background-image: url("../image/footer-bg.png");
  background-size: cover;
  text-align: center;
  height: 150px;
}
@media (min-width: 960px) {
  .l-footer {
    display: grid;
    grid-row: 2;
    grid-column: 1/3;
    z-index: 10;
  }
}

.p-fv,
.p-fv__single,
.p-fv__page {
  background-image: url("../image/mainvisual-sp@2x.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 285px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 560px) {
  .p-fv,
  .p-fv__single,
  .p-fv__page {
    background-image: url("../image/mainvisual-pc@2x.jpg");
  }
}
.p-fv__text {
  position: absolute;
  display: block;
  color: #fffdfa;
}
.p-fv__archive {
  height: 285px;
  width: 100%;
  background-color: #000000;
  position: relative;
  align-items: center;
}
@media (min-width: 960px) {
  .p-fv__archive {
    height: 239px;
  }
}
.p-fv__archive::after {
  content: "";
  position: absolute;
  background-image: url("../image/mainvisual__archive-sp@2x.png");
  background-size: cover;
  background-position: left;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  display: block;
}
.p-fv__single,
.p-fv__page {
  background-image: url("../image/mainVisual_single.jpg");
  height: 225px;
}
@media (min-width: 560px) {
  .p-fv__single,
  .p-fv__page {
    height: 505px;
  }
}
@media (min-width: 960px) {
  .p-fv__single,
  .p-fv__page {
    height: 500px;
  }
}
.p-fv__page {
  background-image: url("../image/mainVisual__single-pc.jpg");
}

.p-about {
  background-color: #fffdfa;
}

.p-map {
  height: auto;
  background-color: #000000;
}
.p-map__bg {
  background-image: url("../image/map-sp.png");
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
}
.p-map__transparent {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0 60%,
    rgba(0, 0, 0, 0.29) 60% 100%
  );
}
@media (min-width: 560px) {
  .p-map__transparent {
    background: rgba(0, 0, 0, 0.6);
  }
}
@media (min-width: 960px) {
  .p-map__transparent {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6) 0 60%,
      rgba(0, 0, 0, 0.29) 60% 100%
    );
  }
}
.p-map__bar {
  display: block;
  width: 75px;
  height: 2px;
  background-color: #ffffff;
  margin: 20px 0;
}
@media (min-width: 960px) {
  .p-map__bar {
    margin: 55.5px 0 63.5px;
  }
}
.p-map__text {
  width: 100%;
  height: auto;
}
@media (min-width: 560px) {
  .p-map__text {
    height: auto;
  }
}
@media (min-width: 960px) {
  .p-map__text {
    height: auto;
  }
}
.p-map__text p {
  font-size: 14px;
  color: #ffffff;
  line-height: 2.3571428571;
}
@media (min-width: 960px) {
  .p-map__text p {
    font-size: 16px;
    line-height: 2.0625;
  }
}

.p-menuInfo {
  background-color: #fffdfa;
}
.p-menuInfo__text {
  line-height: 1.4375;
  font-size: 16px;
}

.p-contents {
  color: #3c2a10;
}
.p-contents__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 36px;
}
@media (min-width: 560px) {
  .p-contents__text {
    margin-bottom: 62px;
  }
}
@media (min-width: 960px) {
  .p-contents__text {
    margin-bottom: 6rem;
  }
}
.p-contents h3 {
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 1.5;
}
@media (min-width: 560px) {
  .p-contents h3 {
    margin-bottom: 56px;
    font-size: 28px;
    line-height: 1.5;
  }
}
@media (min-width: 960px) {
  .p-contents h3 {
    margin-bottom: 5.6rem;
  }
}
.p-contents h4 {
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 1.5;
}
@media (min-width: 560px) {
  .p-contents h4 {
    margin-bottom: 73px;
  }
}
@media (min-width: 960px) {
  .p-contents h4 {
    margin-bottom: 5.7rem;
  }
}
.p-contents h5 {
  margin-bottom: 27px;
  font-size: 20px;
  line-height: 1.5;
}
@media (min-width: 560px) {
  .p-contents h5 {
    margin-bottom: 57px;
  }
}
@media (min-width: 960px) {
  .p-contents h5 {
    margin-bottom: 5.7rem;
  }
}
.p-contents h6 {
  font-size: 20px;
  line-height: 1.5;
}
.p-contents__image {
  width: 100%;
  height: 12.4rem;
}
@media (min-width: 560px) {
  .p-contents__image {
    height: 26.4rem;
  }
}
@media (min-width: 960px) {
  .p-contents__image {
    height: 50rem;
  }
}
.p-contents__single-figure {
  width: 43%;
}
.p-contents__single-figcaption {
  width: 54.6%;
}
.p-contents__img-second {
  width: 267px;
  height: 166px;
  display: block;
  margin: 0 auto 30px auto;
}
@media (min-width: 560px) {
  .p-contents__img-second {
    width: 78%;
    height: 100%;
    margin: 0 auto 241px;
  }
}
@media (min-width: 960px) {
  .p-contents__img-second {
    width: 37.4%;
    height: 35.8rem;
    margin-bottom: 6rem;
  }
}
.p-contents__single-lists {
  margin: 33px 0 24px;
}
@media (min-width: 560px) {
  .p-contents__single-lists {
    margin: 61px 0 57px;
  }
}
@media (min-width: 960px) {
  .p-contents__single-lists {
    margin: 5.4rem 0 5.6rem 5rem;
  }
}
.p-contents__single-list,
.p-contents__single-list-pl {
  margin-bottom: 17px;
  font-size: 16px;
}
@media (min-width: 960px) {
  .p-contents__single-list,
  .p-contents__single-list-pl {
    margin-bottom: 1.7rem;
  }
}
.p-contents__single-list-pl {
  padding-left: 18px;
}
@media (min-width: 960px) {
  .p-contents__single-list-pl {
    padding-left: 1.8rem;
  }
}
.p-contents__single-tag {
  background-color: #f5f5f5;
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 560px) {
  .p-contents__single-tag {
    margin-bottom: 60px;
  }
}
@media (min-width: 960px) {
  .p-contents__single-tag {
    margin-bottom: 5rem;
  }
}
.p-contents__single-tag p {
  font-size: 16px;
  line-height: 1.5;
}
.p-contents__single-bottom {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #3c2a10;
}

.p-menu__sidebar {
  margin-bottom: 40px;
}
.p-menu__sidebar-title {
  font-size: 2.4rem;
  margin-bottom: 40px;
  font-weight: bold;
}
.p-menu__sidebar-lists {
  margin-left: 20px;
}
.p-menu__sidebar-list {
  margin-bottom: 23px;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 20px;
  line-height: 1.45;
}
.p-menu__sidebar-lists li:last-child {
  margin-bottom: 0;
}
.categorymenu .menu-item {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: M + 1p;
  line-height: 35.64px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.categorymenu .sub-menu {
  margin-top: 4rem;
}
.categorymenu .sub-menu li {
  margin-bottom: 23px;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 20px;
  line-height: 1.45;
}
.p-menu__footer {
  color: #fffdfa;
  font-size: 20px;
  line-height: 1.45;
}
.p-menu__footer li {
  border-right: 2.7px solid #fffdfa;
  padding: 0 10px;
}
.p-menu__footer li:last-child {
  border: none;
}
.p-menu__footer li a {
  color: #fffdfa;
  font-size: 20px;
  line-height: 1.45;
}
.p-menu__footer-small {
  font-size: 14px;
  line-height: 1.4285714286;
  color: #ffffff;
}

.c-inner,
.c-inner__footer,
.c-inner__sidebar,
.c-inner__map,
.c-inner__about,
.c-inner__fv,
.c-inner__header {
  margin: 0 auto;
}
.c-inner__header {
  padding: 40px 31px 40px 24px;
}
.c-inner__fv {
  padding: 117px 25px;
}
.c-inner__about {
  padding: 20px 20px 49px 20px;
}
@media (min-width: 560px) {
  .c-inner__about {
    padding: 40px;
  }
}
@media (min-width: 960px) {
  .c-inner__about {
    padding: 12rem 12rem 13rem;
  }
}
.c-inner__map {
  padding: 40px 40px 51px 40px;
}
@media (min-width: 960px) {
  .c-inner__map {
    padding: 8.3rem 73.7rem 4rem 11.9rem;
  }
}
.c-inner__sidebar {
  padding: 25px 17px 0 46px;
  margin-bottom: auto;
}
.c-inner__footer {
  height: 100%;
  padding: 40px 0 34px;
}
.c-inner__fv-archive {
  padding: 102px 0 104px 37px;
}
.c-inner__menuInfo {
  padding: 30px 18px 40px;
}
@media (min-width: 560px) {
  .c-inner__menuInfo {
    padding: 39px 35px 32px 43px;
  }
}
@media (min-width: 960px) {
  .c-inner__menuInfo {
    padding: 6rem 12rem;
  }
}
.c-inner__card-body {
  padding: 31.5px 16px 43.6px;
}
@media (min-width: 560px) {
  .c-inner__card-body {
    padding: 31.5px 59px 40px 34.72px;
  }
}
@media (min-width: 960px) {
  .c-inner__card-body {
    padding: 5.6rem 10.4rem 6rem 6.3rem;
  }
}
@media (min-width: 560px) {
  .c-inner__fv-single {
    padding: 0 0 0 86px;
  }
}
@media (min-width: 960px) {
  .c-inner__fv-single {
    padding: 0 0 0 8.6rem;
  }
}
.c-inner__contents-single {
  padding: 34px 20px 69px;
}
@media (min-width: 560px) {
  .c-inner__contents-single {
    padding: 60px 60px 150px 60px;
  }
}
@media (min-width: 960px) {
  .c-inner__contents-single {
    padding: 6.3rem 10rem 27.4rem 10rem;
  }
}
.c-inner__quote {
  padding: 30px 16px 27px 20px;
}
@media (min-width: 560px) {
  .c-inner__quote {
    padding: 50px 56px 57px 50px;
  }
}
@media (min-width: 960px) {
  .c-inner__quote {
    padding: 5rem 6rem 4.7rem 5rem;
  }
}
.c-inner__single-tag {
  padding: 50px 59px 50px 49px;
}
@media (min-width: 960px) {
  .c-inner__single-tag {
    padding: 5rem;
  }
}
@media (min-width: 560px) {
  .c-inner__fv-page {
    padding: 0 0 0 86px;
  }
}
@media (min-width: 960px) {
  .c-inner__fv-page {
    padding: 0 0 0 8.6rem;
  }
}

.c-article {
  grid-row: 2;
  grid-column: 1/3;
}
@media (min-width: 960px) {
  .c-article {
    grid-row: 2;
    grid-column: 1;
  }
}

.c-title__header {
  font-size: 40px;
  line-height: 1.325;
  color: #707070;
  text-align: center;
  margin-bottom: 38px;
}
@media (min-width: 960px) {
  .c-title__header {
    font-size: 64px;
    line-height: 1.3125;
    margin-bottom: 0;
  }
}
.c-title__fv {
  font-size: 36px;
  font-weight: 700;
  color: #fffdfa;
}
@media (min-width: 560px) {
  .c-title__fv {
    display: none;
  }
}
@media (min-width: 960px) {
  .c-title__fv {
    display: block;
    font-size: 4rem;
  }
}
.c-title__card {
  font-size: 41px;
  color: #fffdfa;
  line-height: 1.3170731707;
}
@media (min-width: 960px) {
  .c-title__card {
    font-size: 8rem;
  }
}
.c-title__map {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  color: #fffdfa;
}
@media (min-width: 960px) {
  .c-title__map {
    font-size: 36px;
    line-height: 1.5;
  }
}
.c-title__sidebar {
  display: none;
}
@media (min-width: 960px) {
  .c-title__sidebar {
    display: block;
    font-size: 3.4rem;
    margin-bottom: 84px;
    font-weight: 700;
  }
}
.c-title__fv-archive {
  color: #fffdfa;
  position: absolute;
  z-index: 30;
}
.c-title__fv-archive h1 {
  font-size: 36px;
  line-height: 1.3333333333;
  margin-bottom: 7px;
}
@media (min-width: 560px) {
  .c-title__fv-archive h1 {
    margin-bottom: 0;
  }
}
.c-title__fv-category-title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}
.c-title__menuInfo {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 30px;
}
.c-title__fv-single,
.c-title__fv-page {
  font-size: 36px;
  color: #fffdfa;
  font-weight: 700;
}
@media (min-width: 560px) {
  .c-title__fv-single,
  .c-title__fv-page {
    font-size: 60px;
    line-height: 1.4833333333;
    margin: 0;
  }
}
.c-title__contents-single {
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 25px;
  color: #3c2a10;
}
@media (min-width: 560px) {
  .c-title__contents-single {
    font-size: 36px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 55px;
  }
}
@media (min-width: 960px) {
  .c-title__contents-single {
    margin-bottom: 5.7rem;
  }
}
.c-title__fv-page {
  margin: 0;
}

.c-search {
  gap: 1.2rem;
  position: relative;
}
.c-search::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: url(../image/search-icon.png) no-repeat center center/auto 100%;
  width: 24px;
  height: 24px;
  top: 25%;
  left: 16px;
}
.c-search__form {
  width: 23rem;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 11px 16px 11px 50px;
  font-size: 24px;
  font-weight: 400;
  background-color: #ffffff;
}
@media (min-width: 560px) {
  .c-search__form {
    width: 396px;
    gap: 1.4rem;
  }
}
@media (min-width: 960px) {
  .c-search__form {
    width: 39.6rem;
    gap: 1.3vw;
    font-size: 24px;
  }
}

.c-button,
.c-button__card,
.c-button__sidebar,
.c-button__search {
  cursor: pointer;
}
.c-button__search {
  min-width: 78px;
  font-size: 16px;
  background-color: #f2ede9;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 7.8rem;
  height: 46px;
}
@media (min-width: 560px) {
  .c-button__search {
    max-width: 136px;
  }
}
@media (min-width: 960px) {
  .c-button__search {
    width: 13.6rem;
  }
}
.c-button__sidebar {
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 20px;
  text-align: right;
}
@media (min-width: 560px) {
  .c-button__sidebar {
    font-size: 34px;
  }
}
@media (min-width: 960px) {
  .c-button__sidebar {
    display: none;
  }
}
.c-button__card {
  color: #3c2b1c;
  width: 163px;
  height: 42px;
  background-color: #fffdfa;
  border-radius: 25px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
}
@media (min-width: 560px) {
  .c-button__card {
    margin: 45px auto 0;
  }
}
@media (min-width: 960px) {
  .c-button__card {
    width: 29.2rem;
    margin: 6rem auto 0;
  }
}
.c-button__single {
  width: 100%;
  height: 81px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 30px;
  line-height: 1.5;
  font-size: 16px;
  background: linear-gradient(90deg, #f2ede9 0%, #ded8d3 100%);
}
@media (min-width: 560px) {
  .c-button__single {
    width: 60%;
    margin: 60px 285px 60px 0;
  }
}
@media (min-width: 960px) {
  .c-button__single {
    margin: 6rem auto 6rem 0;
    width: 31.7%;
    height: auto;
    padding: 4.2rem 0 3.8rem;
  }
}

.c-card {
  margin: 0 auto;
  padding: 0;
}
.c-card__list {
  height: auto;
  background-image: url("../image/about-card01.jpg");
  background-size: cover;
  padding: 11px 15px 15px 15px;
  margin-bottom: 20px;
}
@media (min-width: 560px) {
  .c-card__list {
    margin-bottom: 0;
    width: 47%;
  }
}
@media (min-width: 960px) {
  .c-card__list {
    width: 47%;
    max-width: 625px;
    height: auto;
  }
}
.c-card__list:nth-child(2) {
  background-image: url("../image/about-card02.jpg");
}
.c-card__list:last-child {
  margin-bottom: 0;
}
.c-card__bar {
  display: block;
  width: 33.89px;
  height: 4px;
  margin-top: 15.3px;
  background-color: #ffffff;
}
.c-card__top {
  padding-bottom: 28.3rem;
}
@media (min-width: 960px) {
  .c-card__top {
    padding-bottom: 66rem;
  }
}
.c-card__body {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 7px 10px 15px;
  height: auto;
  margin-bottom: 15px;
}
.c-card__body:last-child {
  margin-bottom: 0;
}
.c-card__body h4 {
  font-size: 22px;
  color: #3c2b1c;
  font-weight: 700;
  margin-bottom: 3px;
}
@media (min-width: 960px) {
  .c-card__body h4 {
    font-size: 24px;
  }
}
.c-card__body p {
  font-size: 16px;
  font-weight: 400;
  color: #3c2b1c;
  line-height: 1.4375;
}
.c-card__body span {
  display: none;
}
.c-card__menuInfo {
  margin: 20px auto;
}
@media (min-width: 560px) {
  .c-card__menuInfo {
    margin: 37px auto 30px;
  }
}
.c-card__menuInfo:last-of-type {
  margin-bottom: 70px;
}
@media (min-width: 560px) {
  .c-card__menuInfo {
    margin-bottom: 0;
  }
}
.c-card__menuList {
  margin-bottom: 20px;
}

.c-card__menuList figure {
  width: 100%;
  height: 230px;
}
@media (min-width: 560px) {
  .c-card__menuList figure {
    width: 50%;
    height: auto;
  }
}
.c-card__menuList img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.c-card__menuList figcaption {
  background-color: #3c2b1c;
  color: #fffdfa;
}
@media (min-width: 560px) {
  .c-card__menuList figcaption {
    width: 50%;
  }
}
.c-card__menu-title {
  font-size: 20px;
  line-height: 1.45;
  font-weight: 700;
  margin-bottom: 24px;
}
@media (min-width: 960px) {
  .c-card__menu-title {
    font-size: 3.6rem;
    line-height: 1.5;
  }
}
.c-card__subheading {
  font-size: 16px;
  line-height: 1.4375;
  margin: 24px 0 10px;
}
@media (min-width: 960px) {
  .c-card__subheading {
    font-size: 2.4rem;
    line-height: 1.5;
  }
}
@media (min-width: 560px) {
  .c-card__inner-text {
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  .c-card__inner-text {
    line-height: 1.5;
  }
}
.c-card__single {
  margin: 30px 0;
}
@media (min-width: 960px) {
  .c-card__single {
    margin: 6rem 0;
  }
}
.c-card__singleList {
  margin-bottom: 30px;
}
.c-card__singleList:last-child {
  margin-bottom: 0;
}
.c-card__single-figure {
  width: 43%;
}
.c-card__single-img {
  width: 100%;
  height: 100%;
}
.c-card__inner-single {
  font-size: 16px;
}

.c-bar__close {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  margin-bottom: 160px;
  margin-left: 85%;
}
@media (min-width: 960px) {
  .c-bar__close {
    display: none;
  }
}
.c-bar__cross,
.c-bar__cross-bg {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 5px;
  transform: rotate(45deg);
  background-color: #707070;
  display: block;
}
.c-bar__cross::before,
.c-bar__cross-bg::before {
  content: "";
  width: 45px;
  height: 5px;
  background-color: #707070;
  display: block;
  transform: rotate(90deg);
}
.c-bar__cross-bg {
  top: 5%;
  right: 10%;
  color: #000000;
}

.c-pagination__text {
  font-size: 1.6rem;
  line-height: 2.0625;
  margin-left: 4.29px;
}
.c-pagination__arrow {
  margin-left: 15px;
}
.c-pagination__number {
  font-size: 1.6rem;
  width: 35px;
  height: 35px;
  border: 1px solid #000000;
  display: flex;
  background-color: #fffdfa;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.c-pagination__number:hover {
  background-color: #3c2b1c;
  color: white;
}

.c-quote {
  background-color: #f5f5f5;
  margin: 26px 0 30px;
}
@media (min-width: 560px) {
  .c-quote {
    margin: 56px 0 60px;
  }
}
@media (min-width: 960px) {
  .c-quote {
    margin: 5.6rem 0 6rem;
  }
}
.c-quote__text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 560px) {
  .c-quote__text {
    margin-bottom: 60px;
  }
}
@media (min-width: 960px) {
  .c-quote__text {
    margin-bottom: 6rem;
  }
}
.c-quote__source {
  font-size: 16px;
  line-height: 23.76px;
}
.c-quote__link {
  text-decoration: line-through;
  color: #4a6c9b;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.c-image__list {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 560px) {
  .c-image__list {
    width: 48%;
    margin-bottom: 4px;
  }
}
@media (min-width: 960px) {
  .c-image__list {
    width: 32.3%;
    margin: 0;
  }
}
.c-image__list:last-child {
  margin-bottom: 0;
}

.c-table {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
  align-items: center;
  line-height: 1.5;
}
.c-table th {
  border: 1px solid black;
  width: 42%;
  padding: 29px 0 24px;
  font-weight: normal;
}
@media (min-width: 560px) {
  .c-table th {
    width: 30%;
  }
}
@media (min-width: 960px) {
  .c-table th {
    width: 31.7%;
    text-align: left;
    padding: 2.9rem 0 2.4rem 5rem;
  }
}
.c-table td {
  border: 1px solid black;
  width: 58%;
  padding: 29px 0 24px 29px;
}
@media (min-width: 560px) {
  .c-table td {
    width: 70%;
  }
}
@media (min-width: 960px) {
  .c-table td {
    width: 68.3%;
    padding: 2.9rem 0 2.4rem 3rem;
  }
}

.u-flex,
.u-flex__center-start,
.u-flex__wrap,
.u-flex__singleList-rev,
.u-flex__singleList,
.u-flex__archive-fv,
.u-flex__menuInfo,
.u-flex__column-column,
.u-flex__column-start,
.u-flex__column-center,
.u-flex__center,
.u-flex__column-between,
.u-flex__column-row,
.u-flex__column,
.u-flex__between {
  display: flex;
  align-items: center;
}
.u-flex__stretch {
  align-items: stretch;
  justify-content: center;
}
.u-flex__between {
  justify-content: space-between;
}
.u-flex__column {
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 960px) {
  .u-flex__column {
    flex-direction: row;
    justify-content: space-between;
  }
}
.u-flex__column-row {
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
}
@media (min-width: 560px) {
  .u-flex__column-row {
    flex-direction: row;
    gap: 4rem;
  }
}
.u-flex__column-between {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.u-flex__center {
  align-items: center;
  justify-content: center;
}
.u-flex__column-center {
  flex-direction: column;
  justify-content: space-between;
}
.u-flex__column-start {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.u-flex__column-column {
  justify-content: center;
  flex-direction: column;
}
.u-flex__menuInfo {
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 560px) {
  .u-flex__menuInfo {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}
.u-flex__archive-fv {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 560px) {
  .u-flex__archive-fv {
    flex-direction: row;
    justify-content: flex-start;
    gap: 19px;
  }
}
.u-flex__singleList {
  gap: 10px;
  align-items: flex-start;
}
.u-flex__singleList-rev {
  gap: 10px;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.u-flex__wrap {
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
@media (min-width: 960px) {
  .u-flex__wrap {
    gap: 2rem;
  }
}
.u-flex__center-start {
  align-items: center;
  justify-content: center;
}
@media (min-width: 560px) {
  .u-flex__center-start {
    justify-content: flex-start;
  }
}

.u-roboto,
.u-roboto__bold {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.u-roboto__bold {
  font-weight: 700;
}
.single-post .p-contents h2,
.single-case .p-contents h2,
.p-contents h2 {
  font-family: M + 1p;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: calc(53.46 / 36);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.single-post .p-contents h3,
.single-case .p-contents h3,
.p-contents h3 {
  font-family: M + 1p;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: calc(41.58 / 28);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.single-post .p-contents h4,
.single-case .p-contents h4,
.p-contents h4 {
  font-family: M + 1p;
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(29.7 / 20);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.single-post .p-contents h5,
.single-case .p-contents h5,
.p-contents h5 {
  font-family: M + 1p;
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(29.7 / 20);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.single-post .p-contents h6,
.single-case .p-contents h6,
.p-contents h6 {
  font-family: M + 1p;
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(29.7 / 20);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.single-post .wp-block-group,
.single-case .wp-block-group,
.wp-block-group {
  padding: 3rem 1.6rem 2.7rem 2rem;
  background-color: #f5f5f5;
}
@media (min-width: 560px) {
  .single-post .wp-block-group,
  .single-case .wp-block-group,
  .wp-block-group {
    padding: 5rem 5.6rem 5.7rem 5rem;
    background-color: #f5f5f5;
  }
}
@media (min-width: 960px) {
  .single-post .wp-block-group,
  .single-case .wp-block-group,
  .wp-block-group {
    padding: 5rem 6rem 4.7rem 5rem;
    background-color: #f5f5f5;
  }
}
.single-post .wp-block-group p,
.single-case .wp-block-group p,
.wp-block-group p {
  color: #3c2a10;
  font-family: M + 1p;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(23.76 / 16);
  text-align: left;
  padding: 0;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.single-post .wp-block-group p:first-child,
.single-case .wp-block-group p:first-child,
.wp-block-group p:first-child {
  margin-bottom: 6rem;
}
.single-post .wp-block-group a,
.single-case .wp-block-group a,
.wp-block-group a {
  color: #4a6c9b;
  font-family: M + 1p;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(23.76 / 16);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: underline;
}
.single-post .wp-block-media-text,
.single-case .wp-block-media-text,
.wp-block-media-text {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
}
.single-post .wp-block-media-text p,
.single-case .wp-block-media-text p,
.wp-block-media-text p {
  font-family: M + 1p;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(23.76 / 16);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.single-post .wp-block-media-text__media,
.single-case .wp-block-media-text__media,
.wp-block-media-text__media {
  width: 43%;
}
.single-post .wp-block-media-text__content,
.single-case .wp-block-media-text__content,
.wp-block-media-text__content {
  width: 54%;
  padding: 0;
}
.wp-block-media-text > .wp-block-media-text__content {
  padding: 0;
}
.single-post .wp-block-list,
.single-case .wp-block-list,
.wp-block-list {
  margin-bottom: 1.7rem;
  margin-left: 5rem;
}
.single-post .p-contents .wp-block-list li,
.single-case .p-contents .wp-block-list li,
.wp-block-list li {
  list-style: inherit;
  font-family: M + 1p;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(23.76 / 16);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3c2a10;
}
.single-post .p-contents .wp-block-list:nth-of-type(2),
.single-post .p-contents .wp-block-list:nth-of-type(5),
.p-contents .wp-block-list:nth-of-type(2),
.p-contents .wp-block-list:nth-of-type(5) {
  margin-left: 8rem;
}
.single-post .p-contents .wp-block-list:nth-of-type(3n),
.p-contents .wp-block-list:nth-of-type(3n) {
  margin-bottom: 5.7rem;
}
.single-post .p-contents .wp-block-code,
.p-contents .wp-block-code {
  background-color: #f5f5f5;
  font-family: M + 1p;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(23.76 / 16);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3c2a10;
  padding: 5rem 6rem 5rem 5rem;
}
.single-post .p-contents .wp-block-table,
.p-contents .wp-block-table {
  font-family: M + 1p;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(23.76 / 16);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3c2a10;
}
.single-post .p-contents .wp-block-table td:first-of-type,
.p-contents .wp-block-table td:first-of-type {
  width: 31%;
  padding: 2.9rem 0 2.4rem 3rem;
  border: 1px solid #707070;
}
.single-post .p-contents .wp-block-table td:last-of-type,
.p-contents .wp-block-table td:last-of-type {
  width: 69%;
  padding: 2.9rem 0 2.4rem 3rem;
  border: 1px solid #707070;
}
.single-post .p-contents .wp-block-button__link,
.p-contents .wp-block-button__link {
  border: 1px solid #707070;
  background: linear-gradient(90deg, #f2ede9 0%, #ded8d3 100%);
  width: 33.5rem;
  height: 8rem;
  gap: 0px;
  border-radius: 20px;
  color: #3c2a10;
  font-family: M + 1p;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: calc(23.76 / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media (min-width: 560px) {
  .single-post .p-contents .wp-block-button__link,
  .p-contents .wp-block-button__link {
    width: 42.9rem;
    height: 10.4rem;
    gap: 0px;
    border-radius: 20px;
    color: #3c2a10;
    font-family: M + 1p;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: calc(23.76 / 16);
    display: flex;
    justify-content: center;
    align-items: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.p-contents .wp-block-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 560px) {
  .p-contents .wp-block-gallery {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media (min-width: 960px) {
  .p-contents .wp-block-gallery {
    flex-wrap: wrap;
  }
}
.wp-block-gallery.has-nested-images.columns-default
  figure.wp-block-image:not(#individual-image) {
  width: calc(100% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667);
}
@media (min-width: 560px) {
  .wp-block-gallery.has-nested-images.columns-default
    figure.wp-block-image:not(#individual-image) {
    width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667);
  }
}
@media (min-width: 960px) {
  .wp-block-gallery.has-nested-images.columns-default
    figure.wp-block-image:not(#individual-image) {
    width: calc(
      33.33% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667
    );
  }
}
/* テーマ設定 */
.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.alignright {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}
.alignleft {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.wp-caption,
.gallery-caption,
[class*="wp-image"] {
  display: block;
  text-align: center;
}
.wp-caption-text {
  margin-top: 0;
}
.sticky {
  margin: 0;
}
li.bypostauthor {
  background: mediumslateblue;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.no-image {
  background-color: gray;
  width: 700px;
  height: auto;
}
.no-image span {
  font-size: 3rem;
  color: white;
  font-weight: 700;
}
.p_comment {
  margin-top: 6rem;
}
.p-comment__ttl,
.comment-respond .comment-reply-title {
  margin-left: 0;
  padding-left: 0;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 500;
  color: #4e91be;
  margin-bottom: 20px;
  border: none;
}

.p-comment__description {
  margin-bottom: 24px;
}

.p-comment__list {
  width: 100%;
}

.p-comment__list li {
  list-style: none;
}

.p-comment__list .comment {
  list-style-type: none;
}

.p-comment__list .parent {
  margin-left: 0;
}

.p-comment__list .children:before {
  content: "";
  width: 100%;
  margin-bottom: 30px;
  border-top: 1px solid #c9c9c9;
  display: block;
}

.p-comment .comment-body {
  position: relative;
}

.p-comment .comment-body .comment-author {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-comment .comment-body .comment-author:after {
  content: "";
  clear: both;
  display: block;
}

.p-comment .comment-body .comment-author .avatar {
  margin-right: 15px;
  margin-bottom: 0;
  float: left;
  clear: left;
  box-sizing: border-box;
}

.p-comment .comment-body .comment-author cite {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  font-size: 1.6rem;
  font-style: normal;
}

.p-comment .comment-body .comment-author span {
  margin-left: 5px;
}

.p-comment .comment-body .comment-meta {
  display: inline-block;
  margin-bottom: 5px;
}

.p-comment .comment-body .comment-meta a {
  font-weight: 500;
  font-size: 14px;
  font-size: 1.4rem;
}

.p-comment .comment-body p {
  clear: left;
}

.p-comment .comment-body .reply {
  width: 100%;
  text-align: right;
}

.p-comment .comment-body .reply .comment-reply-link {
  height: 26px;
  padding: 4px 15px;
  line-height: 26px;
  color: #95989a;
  text-decoration: none;
  border: 1px solid #95989a;
  border-radius: 20px;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
  box-sizing: border-box;
}

.p-comment .comment-body .reply .comment-reply-link:hover,
.p-comment .comment-body .reply .comment-reply-link:active {
  border-color: #82c1eb;
  cursor: pointer;
}

.comment-respond .comment-notes {
  margin-bottom: 24px;
}

.comment-respond .required {
  color: #e52b79;
}

.comment-respond label {
  color: #95989a;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}

.comment-respond input,
.comment-respond textarea {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 24px;
  background: #f8f8f8;
  border: 1px solid #cdcfd0;
  display: block;
  box-sizing: border-box;
}

.comment-respond textarea {
  min-height: 200px;
  margin-bottom: 40px;
}

.comment-respond input[type="submit"] {
  width: 60%;
  height: 40px;
  margin: auto;
  border: 1px solid #cdcfd0;
  border-radius: 23px;
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#77bfef+0,5193bf+100 */
  background: #77bfef;
  /* Old browsers */
  background: linear-gradient(to bottom, #77bfef 0%, #5193bf 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77bfef', endColorstr='#5193bf',GradientType=0 );
  /* IE6-9 */
}

.comment-respond input[type="submit"]:hover,
.comment-respond input[type="submit"]:active {
  cursor: pointer;
  background: #5193bf;
  color: #fff;
}

.comment-page-link {
  margin-bottom: 30px;
  font-size: 14px;
  font-size: 1.4rem;
}

.comment-page-link .prev {
  margin-right: 20px;
}

.comment-page-link .page-numbers {
  margin-right: 20px;
}

.comment-page-link .current {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #fff;
  background: #4e91be;
  display: inline-block;
}
.p-menuInfo__no-archive {
  margin: 10rem 0 10rem;
}
.p-menuInfo__no-archive p {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.p-menuInfo__no-archive a {
  font-size: 2.5rem;
  color: blue;
}

/* pagenavi */
.wp-pagenavi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (min-width: 560px) {
  .wp-pagenavi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.9px;
    margin-top: 15rem;
  }
}
.wp-pagenavi .pages {
  display: none;
}
@media (min-width: 560px) {
  .wp-pagenavi .pages {
    display: block;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: none;
  }
}
.wp-pagenavi .page.smaller,
.wp-pagenavi .page.larger {
  display: none;
}
@media (min-width: 560px) {
  .wp-pagenavi .page.smaller,
  .wp-pagenavi .page.larger {
    display: block;
    border: 1px solid #707070;
    color: #707070;
    width: 35px;
    height: 35px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 33px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.wp-pagenavi .current {
  display: none;
}
@media (min-width: 560px) {
  .wp-pagenavi .current {
    background-color: #3c2b1c;
    width: 35px;
    height: 35px;
    border: 1px solid #707070;
    font-family: Roboto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.wp-pagenavi .previouspostslink::after {
  content: "前へ";
  font-size: 1.6rem;
  margin-left: 8px;
}
@media (min-width: 560px) {
  .wp-pagenavi .previouspostslink::after {
    content: "";
  }
}
.wp-pagenavi .nextpostslink,
.wp-pagenavi .previouspostslink {
  border: none;
  font-size: 1.7rem;
  font-weight: normal;
  display: -ms-flexbox;
  position: absolute;
  right: 0;
}

.wp-pagenavi .previouspostslink {
  left: 0;
}
@media (min-width: 560px) {
  .wp-pagenavi .nextpostslink,
  .wp-pagenavi .previouspostslink {
    font-size: 4rem;
    margin-bottom: 8px;
    position: inherit;
  }
}
.wp-pagenavi .nextpostslink::before {
  content: "次へ";
  font-size: 1.6rem;
  margin-right: 8px;
}
@media (min-width: 560px) {
  .wp-pagenavi .nextpostslink::before {
    content: "";
    font-size: 0;
  }
}
.p-archive__title {
  font-family: M + 1p;
  font-size: 28px;
  font-weight: 700;
  line-height: 41.58px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3c2a10;
  margin-bottom: 25px;
}
@media (min-width: 560px) {
  .p-archive__title {
    font-family: M + 1p;
    font-size: 36px;
    font-weight: 700;
    line-height: 53.46px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 2rem;
  }
}
.p-archive__text {
  font-family: M + 1p;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.76px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3c2a10;
}
