@use "../../foundation/variable" as *;
.c-inner {
  margin: 0 auto;
  &__header {
    @extend.c-inner;
    padding: 40px 31px 40px 24px;
  }
  &__fv {
    @extend.c-inner;
    padding: 117px 25px;
  }
  &__about {
    @extend.c-inner;
    padding: 20px 20px 49px 20px;
    @include breakpoint(tablet) {
      padding: 40px;
    }
  }
  &__map {
    @extend.c-inner;
    padding: 40px 40px 51px 40px;
    @include breakpoint(pc) {
      padding: 8.3rem 73.7rem 4rem 11.9rem;
    }
  }
  &__sidebar {
    @extend.c-inner;
    padding: 82px 0 0 4.6vw;
  }
  &__footer {
    @extend.c-inner;
    height: 100%;
    padding: 40px 0 34px;
  }
}
