@use "../../foundation/variable" as *;
.c-table {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
  align-items: center;
  line-height: calc(24 / 16);
  & th {
    border: 1px solid black;
    width: 42%;
    padding: 29px 0 24px;
    font-weight: normal;
    @include breakpoint(tablet) {
      width: 30%;
    }
    @include breakpoint(pc) {
      width: 31.7%;
      text-align: left;
      padding: 2.9rem 0 2.4rem 5rem;
    }
  }
  & td {
    border: 1px solid black;
    width: 58%;
    padding: 29px 0 24px 29px;
    @include breakpoint(tablet) {
      width: 70%;
    }
    @include breakpoint(pc) {
      width: calc(100% - 31.7%);
      padding: 2.9rem 0 2.4rem 3rem;
    }
  }
}
