@use "../../foundation/variable" as *;
.u-flex {
  display: flex;
  align-items: center;
  &__between {
    @extend.u-flex;
    justify-content: space-between;
  }
  &__column {
    @extend.u-flex;
    justify-content: center;
    flex-direction: column;
    @include breakpoint(pc) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__column-row {
    @extend.u-flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    @include breakpoint(tablet) {
      flex-direction: row;
      gap: 40px;
    }
  }
  &__column-between {
    @extend.u-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 283.7px;
  }
  &__center {
    @extend.u-flex;
    align-items: center;
    justify-content: center;
  }
  &__column-center {
    @extend.u-flex;
    flex-direction: column;
  }
}
