@use "../../foundation/variable" as *;
.p-contents {
  &__text {
    font-size: 16px;
    line-height: calc(24 / 16);
    margin-bottom: 36px;
  }
  h3 {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: calc(36 / 24);
  }
  h4 {
    margin-bottom: 34px;
    font-size: 20px;
    line-height: calc(30 / 20);
  }
  h5 {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: calc(30 / 20);
  }
  h6 {
    font-size: 20px;
    line-height: calc(30 / 20);
  }
  &__image {
    width: 100%;
    height: 124px;
  }
  &__single-figure {
    width: 43%;
  }
  &__single-figcaption {
    width: 54.6%;
  }
  &__img-second {
    width: 267px;
    height: 166px;
    display: block;
    margin: 0 auto 30px auto;
  }
}
