@use "../foundation/variable" as *;
.l-sidebar {
  overflow: auto;
  width: 87.5%;
  min-height: 100vh;
  max-width: 375px;
  background-color: $color-sidebar;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
  transform: translate(100%);
  transition: all 0.5s; /* 移動する速さ */
  @include breakpoint(tablet) {
    width: 44%;
  }
  @include breakpoint(pc) {
    width: auto;
    max-width: none;
    position: static;
    grid-row: 1/3;
    transform: translate(0);
    grid-column: 2;
  }
  &.open {
    transform: translate(0); /* right0まで-250px移動 */
  }
  &__menu {
    margin-bottom: 40px;
  }
  &__menu dt {
    font-size: 2.4rem;
    margin-bottom: 40px;
  }
  &__lists {
    margin-left: 20px;
  }
  &__lists li {
    margin-bottom: 23px;
    font-size: 2rem;
    line-height: calc(29 / 20);
  }
  &__lists li:last-child {
    margin-bottom: 0;
  }
  &__bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    transition: all 0.1s;
  }
}
